@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 8px!important;
  height: 8px!important;
}
::-webkit-scrollbar-thumb{
  background: #ff5252!important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #ff5252!important;
}
::-webkit-scrollbar-track{
  background: #fff!important;
}
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  overflow-x: hidden;
  color: #3e3e3e;
}
.container {
  width: 95%;
  margin: auto;
}
.link:hover{
  color: #ff5252;
}
.MuiBadge-badge{
  background-color: #ff5252!important;
}
.nav button{
  text-transform: capitalize!important;
}
.sliderHome{
    overflow: inherit!important;
}
.swiper-button-next, .swiper-button-prev{
    display: flex!important;
    align-items: center;
    background: #fff;
    justify-content: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 1px #0000001f;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 22px!important;
    color: #000;
}
.homeCatSlider .swiper {
  overflow: inherit!important;
}
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next{
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after{
  font-size: 16px!important;
}
.homeCatSlider .swiper-button-prev{
  left: -10px;
}
.homeCatSlider .swiper-button-next{
  right: -10px;
}
.homeCatSlider .item{
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover{
  background: #ff5252;
}
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after{
  color: #fff;
}
.homeCatSlider .item:hover img{
  transform: scale(1.1);
}
.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}
.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after{
  font-size: 20px !important;
}
.MuiTabs-indicator{
  background-color: #ff5252!important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #ff5252!important;
}
.productSlider .swiper-wrapper{
  padding: 15px;
  margin:0 -15px;
}
.swiper-pagination-bullet-active{
  background: #ff5252!important;
}
.homeSliderV2 .swiper-slide-active .info{
  right: 0 !important;;
  opacity: 1 !important;
}
.homeSliderV2 .swiper-slide-active .info :where(h4,h3,h2,.btn-wrap) {
  right: 0 !important;
  opacity: 1 !important;
}
.homeSliderV2 .info h4{
  transition-duration: 1s;
}
.homeSliderV2 .info h2{
  transition-duration: 1.2s;
}
.homeSliderV2 .info h3{
  transition-duration: 1.4s;
}
.homeSliderV2 .info .btn-wrap{
  transition-duration: 1.6s;
}
.btn-org{
  background: #ff5252!important;
  color: #fff!important;
  font-weight: 500;
}
.btn-org:hover{
  background: #171717!important;
}
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
    color: #ff5252!important;
}
.MuiCheckbox-root{
  padding: 6px !important;
}
.itemViewActions button.active svg{
  color: #ff5252!important;
  opacity: 1;  
}
.Mui-selected.MuiPaginationItem-page{
  background-color: #ff5252!important;
  color: #fff!important;
}
.zoomProductSliderThumbs .swiper-wrapper{
 padding-top:38px !important;
 padding-bottom: 50px !important;
}
.zoomProductSliderThumbs .swiper-button-next{
  bottom:0 !important;
  right:inherit !important;
  top:inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0 !important;
  left: 0;
}
.zoomProductSliderThumbs .swiper-button-prev{
  top:20px !important;
  right:inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0 !important;
  left: 0;
}
.zoomProductSliderThumbs .swiper-button-next:after,
.zoomProductSliderThumbs .swiper-button-prev:after{
  transform: rotate(90deg);
}
.productContent .actions button{
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.7);
}